.tabs {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 30%;
  background-color: #ffe79f;
}

.tab {
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
}

.activeTab {
  background: #fbfde9;
  color: crimson;
  font-weight: 600;
}
