.chip {
  cursor: pointer;
  margin: 12px 0;
  font-size: 12px;
  padding: 4px 0 4px 34px;
  display: block;
  position: relative;
  border: 1px solid #eee;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 9px;
  background-color: #cccccc4a;
  background-clip: padding-box;
  width: 160px;
}

.chip:hover {
  background-color: rgb(206, 247, 233);
}
